<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{this.photo}}" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{this.name}} {{this.lastname}}</p>
        <p class="subtitle is-6">{{this.team}}</p>
      </div>
    </div>
  </div>
</div>