<div id="home-container">
  <div class="card text-center" style="width: 30%;">
    <div class="card-body">
      <h3 class="card-title">NEEDY</h3>
      <p class="card-text">Do you need a favor?</p>
      <a href="/facebook" class="btn btn-primary">
        Login with
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="/google" class="btn btn-danger">
        Login with
        <i class="fab fa-google"></i>
      </a>
    </div>
  </div>
  <div class="card text-center" style="width: 30%;">
    <div class="card-body">
      <h3 class="card-title">DO-GOODER</h3>
      <p class="card-text">Do you wanna do a favor?</p>
      <a href="/signup" class="btn bg-warning">Create account</a>
      <a href="/login" class="btn btn-success">Login</a>
    </div>
  </div>
</div>