body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#map {
  width: 100%;
  height: 400px;
}

.flex {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}
