<h1>Add photo</h1>

<form action="/photo/add" method="post" enctype="multipart/form-data">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <label for="description">Description</label>
  <input type="text" name="description" id="descript">
  <label for="photo"></label>
  <input type="file" name="photo" id="photo" accept="image/*">
  <input type="submit" value="Post">
</form>