<h1>Send Email</h1>
<form action="/send-email" method="POST">
  <label for="email">Email</label>
  <input type="email" name="email" id="email">
  <br>
  <label for="subject">Subject</label>
  <input type="text" name="subject" id="subject">
  <br>
  <label for="message">Message</label>
  <textarea name="message" id="message" cols="30" rows="10"></textarea>
  <br>
  <input type="submit" value="Send">
</form>